.cart-container {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
}

.cart-container .blank-space {
  width: 100%;
  height: calc(5vh + 7vh);
}

.cart-container .cart-title-container {
  height: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 2.5%;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

.cart-container .cart-title-container h1 {
  font-size: 2.2em;
}

.cart-container .cart-alert-container {
  width: 100%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cart-container .cart-alert-container p {
  font-size: 1.3em;
  font-weight: 600;
  color: var(--gray);
}

.cart-container .cart-alert-container span {
  margin: 1% 0;
  font-size: 3em;
  color: var(--gray);
  font-variation-settings: "wght" 300;
}

.cart-container .cart-alert-container a {
  border: 1px solid var(--black);
  color: var(--black);
  padding: 0.5% 1.5%;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart-container .cart-alert-container a:hover {
  background-color: var(--black);
  color: var(--white);
}

.cart-container .cart-alert-container.is-active {
  display: none;
}

.cart-container .cart-product-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.cart-container .cart-product-container .cart-product {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5% 5%;
  border-bottom: 1px solid var(--black);
  margin: 0%;
}

.cart-container .cart-product-container .cart-product img {
  width: 2vw;
  padding: 0 2.5% 0 0;
}

.cart-container .cart-product-container .cart-product button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid var(--black);
  width: 10vw;
  height: 5vh;
  background-color: var(--white);
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart-container .cart-product-container .cart-product button:hover {
  background-color: var(--black);
  color: var(--white);
}

.cart-container .cart-product-container .cart-product .cart-product-content {
  padding: 0 2.5% 0 0;
}

.cart-container .cart-product-container .cart-product .cart-product-content .cart-product-name {
  font-size: 1.1em;
  font-weight: 700;
  padding: 1.5% 0;
}

.cart-container .cart-product-container .cart-product .cart-product-content .cart-product-total-price {
  font-size: 1.2em;
  font-weight: 400;
}

.cart-container .cart-product-container .cart-product .cart-product-content .cart-product-total-price span {
  font-weight: 600;
}

.cart-container .cart-product-container .cart-product:last-of-type {
  border-bottom: none;
}

.cart-container .cart-total-container {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2% 2%;
  border-top: 1px solid var(--black);
}

.cart-container .cart-total-container p {
  font-size: 1.2em;
  font-weight: 500;
}

.cart-container .cart-total-container p span {
  font-weight: 700;
}

.cart-container .cart-total-container.is-active {
  display: none;
}

footer {
  position: relative;
  bottom: 0;
  border-top: 1px solid var(--black);
}

@media (max-width: 768px) {
  .cart-container .cart-product-container .cart-product button {
    width: 20vw;
    height: 5vh;
    font-size: 01em;
    padding: 1% 2%;
  }
}

@media (max-width: 425px) {
  .cart-container .cart-title-container h1 {
    font-size: 1.5em;
  }
  .cart-container .cart-product-container .cart-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cart-container .cart-product-container .cart-product img {
    width: 7vw;
    padding: 0 5% 0 0;
  }
  .cart-container .cart-product-container .cart-product button {
    width: 35vw;
    height: 5vh;
    font-size: 0.8em;
    padding: 1% 2%;
  }
}
/*# sourceMappingURL=cart.css.map */