.cart-container {

    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    .blank-space {

        width: 100%;
        height: calc(5vh + 7vh);

    }

    .cart-title-container {

        height: 11vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 0 0 2.5%;
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);

        h1 {

            font-size: 2.2em;

        }

    }

    .cart-alert-container {

        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {

            font-size: 1.3em;
            font-weight: 600;
            color: var(--gray);

        }

        span {

            margin: 1% 0;
            font-size: 3em;
            color: var(--gray);
            font-variation-settings: 'wght'300;

        }

        a {

            border: 1px solid var(--black);
            color: var(--black);
            padding: 0.5% 1.5%;
            font-weight: 500;
            transition: 0.2s;

        }

        a:hover {

            background-color: var(--black);
            color: var(--white);

        }

    }

    .cart-alert-container.is-active {

        display: none;

    }

    .cart-product-container {

        width: 100vw;
        margin: 0;
        padding: 0;
        max-width: 100%;
        .cart-product {

            height: 15vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 1.5% 5%;
            border-bottom: 1px solid var(--black);
            margin: 0%;

            img {

                width: 2vw;
                padding: 0 2.5% 0 0;

            }

            button {

                appearance: none;
                border: 1px solid var(--black);
                width: 10vw;
                height: 5vh;
                background-color: var(--white);
                font-size: 0.9em;
                font-weight: 500;
                cursor: pointer;
                transition: 0.2s;

            }

            button:hover {

                background-color: var(--black);
                color: var(--white);

            }

            .cart-product-content {

                padding: 0 2.5% 0 0;

                .cart-product-name {

                    font-size: 1.1em;
                    font-weight: 700;
                    padding: 1.5% 0;

                }

                .cart-product-total-price {

                    font-size: 1.2em;
                    font-weight: 400;

                    span {

                        font-weight: 600;

                    }

                }

            }

        }

        .cart-product:last-of-type {

            border-bottom: none;

        }
    }

    .cart-total-container {

        // width: 100%;
        height: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 2% 2%;
        border-top: 1px solid var(--black);

        p {

            font-size: 1.2em;
            font-weight: 500;

            span {

                font-weight: 700;

            }

        }

    }

    .cart-total-container.is-active {

        display: none;

    }

}

footer {

    position: relative;
    bottom: 0;
    border-top: 1px solid var(--black);

}

// Media Queries

@media (max-width: 768px) {

    .cart-container{

        .cart-product-container {
    
            .cart-product {
    
                button {
    
                    width: 20vw;
                    height: 5vh;
                    font-size: 01em;
                    padding: 1% 2%;
    
                }
    
            }
    
        }

    }

}

@media (max-width: 425px) {

    .cart-container {

        .cart-title-container {

            h1 {

                font-size: 1.5em;

            }

        }

        .cart-product-container {

            .cart-product {

                flex-direction: row;

                img {

                    width: 7vw;
                    padding: 0 5% 0 0;

                }

                button {

                    width: 35vw;
                    height: 5vh;
                    font-size: 0.8em;
                    padding: 1% 2%;

                }

            }

        }
    }

}